.container {
    margin: auto;
    width: 800px;
    height: 600px;
    background-color: rgb(70, 93, 90);
    border-radius: 20px;
    padding: 10px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
}
.cell {
    border: 1px solid rgb(96, 0, 128);
    flex-grow: 1;
    flex-basis: 0;
}

.content {
    width: inherit;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#canvas-container {
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    height: 600px;
}