* {
    font-size: 20px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}

body {
    background: rgb(71, 59, 77);
}
/*
.divider {
    width: 2px;
    height: 40px;
    margin: 0px 0px 0px 0px;
    background-color: black;
    display: inline-block;
}*/
#erase {
    padding: 10px;
}
input[type="color"] {
    -webkit-appearance: none;
    border: none;
    padding: 2px;
    height: 42px;
}
input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
}
input[type="color"]::-webkit-color-swatch {
    border: none;
}

.container {
    margin: 20px auto;
    width: fit-content;
    height: fit-content;
    background-color: rgb(224, 224, 224);
    border-radius: 20px;
    padding: 20px;
    outline: 4px solid rgb(144, 90, 224);;
}
.cell {
    outline: 1px solid rgb(123, 122, 123);
    background-color: azure;
    flex: 0 0 120px;
    flex-basis: 240px;
    aspect-ratio: 1 / 1;
}

.input {
    margin: 20px 0px;
    height: 40px;
    width: 100px;
}

.cell:hover {
    transition: 50ms;
    background-color: rgb(228, 228, 228);
}

.content {
    width: 100%;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#canvas-container {
    display: flex;
    flex-wrap: wrap;
    width: 800px;
    height: 800px;
    border: 20px solid rgb(118, 101, 200);
    border-radius: 10px;
    margin: 20px 0px;
}

.clearBg {
    background-color: #fff !important;
}

h1, p {
    text-align: center;
    margin-bottom: 0;
    color: rgb(249, 244, 255);
}
ol {
    margin-bottom: 0;
}
h1 {
    font-size: 4em;
    
}
p {
    font-size: 1.5em;
}
.options, .color {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
